# ==================================================
# Default: ignore EVERYTHING
# ==================================================
*

# ==================================================
# Allow only YAML files in repository root
# ==================================================
!/*.yaml

# ==================================================
# Explicitly keep .gitignore itself
# ==================================================
!.gitignore

# ==================================================
# Allow project documentation
# ==================================================
!README.md

# ==================================================
# Explicit exclusions
# ==================================================
secrets.yaml
go2rtc.yaml
